{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/authentication/authentication.css' %}">
{% endblock %}

{% block content %}
<div class="history">
    <div class="header">
        <p class="mb-0">Permintaan Menjadi Penjual</p>
        {% if message == "success" %}
            <p class="mb-0 form-success">Permintaan berhasil dilakukan</p>
        {% elif message == "failed" %}
            <p class="mb-0 form-warning">Terjadi Kesalahan</p>
        {% endif %}
    </div>
    {% for req in req_list %}
        <div class="kartu d-flex flex-row flex-wrap">
            <div class="kartu-info">
                <p>Username: {{ req.username }}</p>
                <p>Nomor Identitas: {{ req.nomor_identitas }}  </p>
            </div>
            <div class="kartu-header ml-auto">
                <div class="">
                    <a href="{% url 'authentication:admin-validation-accept' id=req.id %}">
                        <button class="validation-button green-button">Terima</button>
                    </a>
                    <a href="{% url 'authentication:admin-validation-decline' id=req.id %}">
                        <button class="validation-button red-button">Tolak</button>
                    </a>
                </div>
            </div>
            
        </div>
    {% endfor %}
</div>

{% include 'footer.html' %}

{% endblock %}