{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/authentication/authentication.css' %}">
{% endblock %}

{% block content %}
<div class="auth">
    <img class="gallery" src="{% static 'images/gallery.jpg' %}" alt="Gallery">
    <form class="auth-form" method="POST" action="">
        {% csrf_token %}
        <div class="form-header">
            <p class="mb-0">Masuk</p>
            {% if message == "not_exist" %}
            <p class="form-warning">
                User does not exist!
            </p>
            {% elif message == "failed_auth" %}
            <p class="form-warning">
                Wrong username or password!
            </p>
            {% endif %}
        </div>
        <div class="form-row">
            <div class="form-tag">
                <p class="mb-0">Username</p>
            </div>
            <div class="form-input">
                <input type="text" class="form" name="username" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-tag">
                <p class="mb-0">Password</p>
            </div>
            <div class="form-input">
                <input type="password" class="form" name="password" required>
            </div>
        </div>
        <p style="text-align: center;" class="mb-0"><button class="auth-button" type="submit">Masuk</button></p>
    </form>
</div>
{% endblock %}