{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/authentication/authentication.css' %}">
{% endblock %}

{% block content %}
<div class="auth">
    <img class="gallery" src="{% static 'images/gallery.jpg' %}" alt="Gallery">
    <form class="auth-form" method="POST" action="">
        {% csrf_token %}
        <div class="form-header">
            <p class="mb-0">Daftar</p>
            {% if message == "exist" %}
                <p class="form-warning">
                    Account already exist!
                </p>
            {% elif message == "form_not_valid" %}
                <p class="form-warning">
                    Form not valid!
                </p>
            {% endif %}
        </div>
        <div class="form-row">
            <div class="form-tag">
                <p class="mb-0">Nama</p>
            </div>
            <div class="form-input">
                <input type="text" class="form" name="nama" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-tag">
                <p class="mb-0">Email</p>
            </div>
            <div class="form-input">
                <input type="email" class="form" name="email" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-tag">
                <p class="mb-0">Username</p>
            </div>
            <div class="form-input">
                <input type="text" class="form" name="username" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-tag">
                <p class="mb-0">Password</p>
            </div>
            <div class="form-input">
                <input type="password" class="form" name="password" required>
            </div>
        </div>
        <p style="text-align: center;" class="mb-0"><button class="auth-button" type="submit">Daftar</button></p>
    </form>
</div>
{% endblock %}