{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/authentication/authentication.css' %}">
{% endblock %}

{% block content %}
<div class="auth">
    <img class="gallery" src="{% static 'images/seller.jpg' %}" alt="Gallery">
    <form class="auth-form" method="POST" action="">
        {% csrf_token %}
        <div class="form-header">
            <p class="mb-0">Daftar Sebagai Penjual</p>
            {% if message == "form_not_valid" %}
                <p class="form-warning">
                    Nomor Identitas kurang dari 10 karakter
                </p>
            {% endif %}
        </div>
        <div class="form-row">
            <div class="form-tag">
                <p class="mb-0">Nomor Identitas</p>
            </div>
            <div class="form-input">
                <input type="text" class="form" name="nomor_identitas" required>
            </div>
        </div>
        <p style="text-align: center;" class="mb-0"><button class="auth-button" type="submit">Daftar</button></p>
    </form>
</div>
{% endblock %}