{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/authentication/authentication.css' %}">
{% endblock %}

{% block content %}
<div class="auth">
    <img class="gallery" src="{% static 'images/seller.jpg' %}" alt="Gallery">
    {% if status_request == "menunggu persetujuan"%}
    <div class="auth-form">
        <div class="form-header">
            <p class="mb-0">Menunggu Persetujuan Admin</p>
        </div>
        <p class="text-center" class="mb-0">
            <a href="{% url 'homepage:homepage' %}">
                <button class="auth-button" type="submit">Kembali ke Halaman Utama</button>
            </a>
        </p>
    </div>
    {% elif status_request == "diterima" %}
    <div class="auth-form">
        <p class="text-center">
            <img class="max-width-10" src="{% static 'images/seller_respond/approve.png' %}" alt="approve">
        </p>
        <div class="form-header">
            <p class="text-center mb-0">Permintaan diterima</p>
        </div>
        <p class="text-center mb-0">
            <a href="{% url 'homepage:homepage' %}">
                <button class="auth-button" type="submit">Kembali ke Halaman Utama</button>
            </a>
        </p>
    </div>
    {% elif status_request == "ditolak" %}
    <div class="auth-form">
        <p class="text-center">
            <img class="max-width-10" src="{% static 'images/seller_respond/decline.png' %}" alt="decline">
        </p>
        <div class="form-header">
            <p class="mb-0 red text-center">Permintaan ditolak</p>
        </div>
        <p class="text-center mb-0">
        <a href="{% url 'authentication:register-penjual' %}">
            <button class="auth-button max-width-10 padding-respond-button" type="submit">Ulangi Pendaftaran</button>
        </a>
        <a href="{% url 'homepage:homepage' %}">
            <button class="red-button auth-button max-width-10 padding-respond-button" type="submit">Kembali ke Halaman Utama</button>
        </a>
        </p>
    </div>
    {% endif %}
</div>
{% endblock %}