html {
    font-size: 16px;
}

body {
    font-family: 'Nunito', sans-serif !important;
}

.footer {
    text-align: center;
    color: white;
    background-color: #167C44;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
 /**** BUAT NOTIFIKASI ****/

ul {
    list-style-type: none;
    }

.rightnav *{
    margin: 0 5px 0 5px;
    text-align: right;
    align-items: center;
}

.bell_wrap {
    cursor: pointer;
    }

.bell {
    z-index: 999;
    margin: 0 10px 0 10px;
    width: 30px;
    height: 30px;
    }

.notif_dd {
    display: none;
    top: 55px;
    background-color: white;
    width: 30%;
    right: 15px;
    position: absolute;
    z-index: 99;
    margin: 5px 5px 5px 5px;
    border: 1px solid;
    border-radius: 3px;
    box-shadow: 2px 2px 5px;
    }

.notif_dd:before {
    margin: 0;
    content: "";
    position: absolute;
    top: -29px;
    right: 11px;
    border: 15px solid;
    border-color: transparent transparent white transparent;
    }

.notif_dd li {
    padding: 10px;
    align-items: center;
    }

.notif {
    border-bottom: 1px solid;
    }

.notif img {
    margin: 0;
    padding: 0;
    height: 60px;
    }

.notif .notif_icon {
    text-align: center;
    padding: 0;
    }

.notif_ul {
    padding: 10px;
    margin: 0;
    }

.notif_dd.active {
    display: block;
    }

/*******************************/

.ml-auto-important {
    margin-left: auto!important;
}