.gallery {
    width: 100%;
}

.homepage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-info {
    border-radius: 1rem;
    position: absolute;
    top: 50;
    text-align: center;
    color: white;
}

.homepage-button {
    border-width: 0;
    border-style: none;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    background-color: #167C44;
    color: white;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 2rem;
}

.homepage-button:hover {
    background-color: #0f5830;
}

.arction {
    font-size: 7rem;
    margin-bottom: 2rem;
}

.arction-info {
    font-size: 2rem;
    margin-bottom: 5rem;
}