.auth {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    background-color: white;
    border-radius: 1rem;
    position: absolute;
    top: 50;
    padding: 4rem 5rem;
    max-width: 32rem;
}

.gallery {
    width: 100%;
}

.form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.form-tag {
    width: 6rem;
}

.form-header {
    margin-bottom: 4rem;
    color: #167C44;
    font-size: 3rem;
}

.form {
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: black;
    outline: none;
    width: 15rem;
}

.auth-button {
    border-width: 0;
    border-style: none;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    background-color: #167C44;
    color: white;
    border-radius: 2rem;
    padding: 0.3rem 3rem;
}

.auth-button:hover {
    background-color: #0f5830;
}

.padding-respond-button {
    padding: 0.3rem 1rem;
}

.max-width-10 {
    max-width: 10rem;
}

.red-button {
    background-color: #F1303C;
    color: white;
}

.green-button {
    background-color: #167C44;
    color: white;
}

.red {
    color: #F1303C; 
}

.text-center {
    text-align: center;
}

.form-warning {
    font-size: 1rem;
    color: #F1303C;
}

.form-success {
    font-size: 1rem;
    color: #167C44;
}

.history {
    padding-left: 9rem;
    /* min-height: 90vh; */
}

.header {
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

.kartu {
    max-width: 50rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 3rem;
    box-shadow: 0 15px 15px 8px silver;
}

.barang-image {
    width: 15rem;
    margin-right: 1.5rem;
}

.barang-image img {
    width: 100%;
}

.validation-button {
    border-width: 0;
    border-style: none;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    border-radius: 2rem;
    padding: 0.3rem 3rem;
    margin-right: 0;
    margin-left: auto;
}

.ml-auto {
    margin-left: auto;
}