{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/profil/card_barang.css' %}">
{% endblock %}

{% block content %}

{% if "penjual" in request.session.role %}

    <div class="history">
        <div class="header">
            <p class="mb-0">Daftar Barang Terjual</p>
        </div>
        
        <div style="min-height: 80vh;">
            {% if lelang_berhasil %}
                {% for lelang_berhasil in lelang_berhasil %}
                <div class="kartu">
                    <p>{{ lelang_berhasil.lelang_endttime }}</p>
                    <div class="kartu-info">
                        <div class="barang-image">
                            <img src="{{ lelang_berhasil.get_url_image }}" alt="Barang">
                        </div>
                        <div class="barang-detail">
                            <p>{{ lelang_berhasil.lelang_barang.barang_nama }}</p>
                            <p>Pembeli : {{ lelang_berhasil.lelang_highestbidder }}</p>
                            {% if lelang_berhasil.lelang_currentbid > lelang_berhasil.lelang_buyout %}
                                <p>Rp {{ lelang_berhasil.lelang_currentbid }},-</p>
                            {% else %}
                                <p>Rp {{ lelang_berhasil.lelang_buyout }},-</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p style="text-align: center;" class="mb-0">Belum ada barang yang terjual!</p>
            {% endif %}
        </div>
    </div>
{% else %}
    <div> 
        <center>
            <p>Silahkan register sebagai penjual untuk melihat history penjualan!</p>
        </center>
    </div>
{% endif %}

{% include 'footer.html' %}

{% endblock %}