{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/profil/card_barang.css' %}">
{% endblock %}

{% block content %}
<div class="history">
    <div class="header">
        <p class="mb-0">Daftar Barang Terbeli</p>
    </div>
    <div style="min-height: 80vh;">
        {% if transaksi.count > 0 %}
            {% for trans in transaksi %}
                <div class="kartu">
                    <p>{{ trans.get_tanggal_terbuat }}</p>
                    <div class="kartu-info">
                        <div class="barang-image">
                            <img src="{{ trans.get_url_image }}" alt="Barang">
                        </div>
                        <div class="barang-detail">
                            <p>{{ trans.get_nama_barang }}</p>
                            <p>Rp {{ trans.get_currentbid_price }},-</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p style="text-align: center;" class="mb-0">Belum ada barang yang terbeli!</p>
        {% endif %}
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}