{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/profil/card_barang.css' %}">
{% endblock %}

{% block content %}
<div class="history">
    <div class="header">
        <p class="mb-0">Daftar Lelang yang Sedang Diikuti</p>
    </div>
    <div class="kartu">
        <p>13 Des 2020</p>
        <div class="kartu-info">
            <div class="barang-image">
                <img src="{% static 'images/yellow_apple.jpeg' %}" alt="Barang">
            </div>
            <div class="barang-detail">
                <p>Apel kuning yang merona banged deh pokoknya jadi kamu harus beli</p>
                <p>Rp 1.000,-</p>
            </div>
        </div>
    </div>
    <div class="kartu">
        <p>13 Des 2020</p>
        <div class="kartu-info">
            <div class="barang-image">
                <img src="{% static 'images/yellow_apple.jpeg' %}" alt="Barang">
            </div>
            <div class="barang-detail">
                <p>Apel kuning yang merona banged deh pokoknya jadi kamu harus beli</p>
                <p>Rp 1.000,-</p>
            </div>
        </div>
    </div>
    <div class="kartu">
        <p>13 Des 2020</p>
        <div class="kartu-info">
            <div class="barang-image">
                <img src="{% static 'images/yellow_apple.jpeg' %}" alt="Barang">
            </div>
            <div class="barang-detail">
                <p>Apel kuning yang merona banged deh pokoknya jadi kamu harus beli</p>
                <p>Rp 1.000,-</p>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}