{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/profil/card_lelang.css' %}">
{% endblock %}

{% block content %}

{% if "penjual" in request.session.role %}
    <div class="history">
        <div class="header">
            <p class="mb-0">Daftar Lelang yang Dibuat</p>
        </div>
        <div style="min-height: 80vh;">
            {% if lst %}
                {% for lelang, is_editable in lst %}
                    <div class="kartu">
                        <div class="kartu-header">
                            <p>{{ lelang.lelang_starttime }} - {{ lelang.lelang_endtime }}</p>
                            {% if is_editable %}
                            <a style="margin-left:auto" href="{% url 'lelang:update' id=lelang.pk %}">
                                <button class="edit-lelang-button">Edit lelang</button>
                            </a>
                            {% endif %}
                        </div>
                        <div class="kartu-info">
                            <div class="barang-image">
                                <img src="{{ lelang.get_url_image }}" alt="Barang">
                            </div>
                            <div class="barang-detail">
                                <p>{{ lelang.lelang_barang.barang_nama }}</p>
                                <p>{{ lelang.lelang_barang.barang_deskripsi }}</p>
                                <p>Start Bid Rp {{ lelang.lelang_startingbid }},-</p>
                                <p>Minimum Raise Bid Rp {{ lelang.lelang_minraise }},-</p>
                                <p>Current Bid Rp {{ lelang.lelang_currentbid }},-</p>
                                <p>Buyout Price Rp {{ lelang.lelang_buyout }},-</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p style="text-align: center;" class="mb-0">Anda belum pernah membuat lelang!</p>
            {% endif %}
        </div>
    </div>
{% else %}
    <div> 
        <center>
            <p>Silahkan register sebagai penjual untuk membuat lelang!</p>
        </center>
    </div>
{% endif %}

{% include 'footer.html' %}

{% endblock %}