.perlelang {
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.date {
    text-align: right;
    width: 100%;
}

.perlelang-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.perlelang-image {
    padding-right: 8rem;
    width: 40%;
}

.barang-lelang {
    width: 100%;
}

.perlelang-detail {
    text-align: justify;
    width: 60%;
}

.perlelang-button {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.button {
    width: 10rem;
    border-radius: 3rem;
    outline: none;
    border-width: 0;
    border-style: none;
    color: white;
}

.raise-button {
    background-color: #307DF1;
    margin-right: 4rem;
}

.buyout-button {
    background-color: #F1303C;
}

.strict-button {
    width: 18rem;
    border-radius: 3rem;
    outline: none;
    border-width: 0;
    border-style: none;
    color: white;
    background-color: #167C44;
}

.footer {
    position: fixed;
    bottom: 0;
}