.form-create {
    background-color: white;
    border-radius: 1rem;
    width: 100%;
    padding-left: 9rem;
    padding-top: 2rem;
}

.form-header {
    font-size: 3rem;
}

.form-row {
    display: flex;
    flex-direction: row;
}

.form-tag {
    width: 20rem;
}

.form {
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: black;
    outline: none;
    width: 15rem;
}

.form-number{
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: black;
    outline: none;
    width: 10rem;
}

.lelang-button {
    border-width: 0;
    border-style: none;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    background-color: #167C44;
    color: white;
    border-radius: 2rem;
    padding: 0.3rem 3rem;
}

.lelang-button:hover {
    background-color: #0f5830;
}


.footer{
    position: fixed;
    bottom: 0;
}
