.grid-lelang {
    display: flex;
    justify-content: center;
}

.card-lelang {
    border-radius: 2rem;
    box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.1);
    transition: 0.3s;
    height: 400px;
    display: flex;
    width: 260px;
    margin: 2rem 4rem;
}

.card-lelang:hover {
    box-shadow: 0px 4px 16px 4px rgba(0,0,0,0.2);
}

.img-card-lelang {
    height: 260px;
    width: 260px;
    border-radius: 2rem 2rem 0 0;
}

.desc-card-lelang {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.name-card-lelang {
    font-weight: 500;
}

.price-card-lelang {
    padding-top: 0.5rem;
    font-size: 0.75rem;
}

.a-card-lelang,
.a-card-lelang:hover {
    color: inherit;
    text-decoration: none;
}

.create-lelang-button {
    border-width: 0;
    border-style: none;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    background-color: #167C44;
    color: white;
    border-radius: 2rem;
    padding: 0.3rem 3rem;
    margin-right: 0;
    margin-left: auto;
}