{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/homepage/homepage.css' %}">
{% endblock %}

{% block content %}
<div class="homepage">
    <img class="gallery" src="{% static 'images/gallery.jpg' %}" alt="Gallery">
    <div class="homepage-info">
        <p class="arction">Arction</p>
        <p class="arction-info">Platform Lelang Seni</p>
        <a href="{% url 'lelang:list_lelang' %}"><button class="homepage-button">Lihat Daftar Lelang</button></a>
    </div>
</div>
{% endblock %}