{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/lelang/lelang.css' %}">
{% endblock %}

{% block content %}

<div class= form-create>
    <div class="form-header">
        <p>Buat Lelang</p>  
      </div>

      <div class="form-row">
          <div class="form-tag">
              <p>Nama Barang</p>
          </div>
          <div class="form-input">
              <input type="text" class="form">
          </div>
      </div>

      <div class="form-row">
        <div class="form-tag">
            <p>Deskripsi Barang</p>
        </div>
        <div class="form-input">
            <input type="text" class="form">
        </div>
    </div>

    <div class="form-row">
        <div class="form-tag">
            <p>URL Foto</p>
        </div>
        <div class="form-input">
            <input type="text" class="form">
        </div>
    </div>

    <div class="form-row">
        <div class="form-tag">
            <p>Starting Bid Price</p>
        </div>
        <div class="form-input">
            Rp 
            <input type="number" class="form-number">
        </div>
    </div>

    <div class="form-row">
        <div class="form-tag">
            <p>Buyout Price</p>
        </div>
        <div class="form-input">
            Rp 
            <input type="number" class="form-number">
        </div>
    </div>

    <div class="form-row">
        <div class="form-tag">
            <p>Minimum Raise Bid Price</p>
        </div>
        <div class="form-input">
            Rp 
            <input type="number" class="form-number">
        </div>
    </div>

    <div class="form-row">
        <div class="form-tag">
            <p>Start Date</p>
        </div>
        <div class="form-input">
            <input type="datetime-local" class="form">
        </div>
    </div>

      <div class="form-row">
          <div class="form-tag">
              <p>End Date</p>
          </div>
          <div class="form-input">
              <input type="datetime-local" class="form">
          </div>
      </div>

      
      <button class="lelang-button" onclick="myFunction()">Buat Lelang</button>
</div>

{% include 'footer.html' %}

<script>
    function myFunction() {
      alert("Form tidak diisi dengan sempurna");
    }
</script>

{% endblock %}