{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/lelang/each_lelang.css' %}">
{% endblock %}

{% block content %}
<div class="perlelang">
    <p class="date">Closed at {{ lelang.get_lelang_endtime }}</p>
    <div class="perlelang-info">
        <div class="perlelang-image">
            <img src="{{ lelang.get_url_barang }}" alt="Barang Lelang" class="barang-lelang">
        </div>
        <div class="perlelang-detail">
            <p>{{ lelang.get_nama_barang }}</p>
            <p>{{ lelang.get_deskripsi_barang }}</p>
            <p>Buyout Price : Rp {{ lelang.get_buyout_price }},-</p>
            <p>Current Bid : Rp {{ lelang.get_currentbid_price }},-</p>
            <p>Minimum Raise Bid Price : Rp {{ lelang.get_minraise_price }},-</p>
            {% if messages %}
            <div style="color: red; margin-bottom: 0.5rem;">
                {% for message in messages %}
                    <strong>{{ message }}</strong>
                {% endfor %}
            </div>
            {% endif %}
            {% if editable %}
                {% if request.session.username != None and request.session.username != owner_username %}
                    <div class="perlelang-button">
                        <a href="{% url 'lelang:raisebid' id=lelang.pk %}"><button class="button raise-button">Raise Bid</button></a>
                        <a href="{% url 'lelang:buyout' id=lelang.pk %}"><button class="button buyout-button">Buyout</button></a>
                    </div>
                {% elif request.session.username == None %}
                    <p style="text-align: center;"> <a href="{% url 'authentication:login' %}"><button class="strict-button">Masuk untuk melanjutkan</button></a></p>
                {% endif %}
            {% elif show_winner %}
                {% if lelang.get_highestbidder == None %}
                <div style="color: red; margin-bottom: 0.5rem;">
                    Tidak ada pemenang dari pelelangan ini.
                </div>
                {% else %}
                    <div style="color: red; margin-bottom: 0.5rem;">
                        Pemenang dari lelang ini adalah user bernama: <strong>{{ lelang.get_highestbidder.nama }}</strong>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% include 'footer.html' %}
{% if lelang.get_status == "Open" %}
    <script src="{% static 'js/auto_refresh.js' %}"></script>
{% endif %}
{% endblock %}