{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/lelang/list_lelang.css' %}">
{% endblock %}

{% block content %}

{% if 'penjual' in request.session.role %}
    <a style="margin-left:auto" href="{% url 'lelang:create' %}">
        <button class="create-lelang-button">Create lelang</button>
    </a>
{% endif %}
<div class="container grid-lelang flex-wrap" style="min-height: 80vh;">
    {% for lelang in list_lelang %}
        <a href="{% url 'lelang:each_lelang' id=lelang.id %}" class="a-card-lelang">
            <div class="card-lelang flex-column">
                <img class="img-card-lelang" src="{{ lelang.lelang_barang.barang_url }}">
                <div class="desc-card-lelang">
                    <p class="mb-0 name-card-lelang">{{ lelang.lelang_barang.barang_nama }}</p>
                    <p class="mb-0 price-card-lelang">Rp {{ lelang.lelang_currentbid }}</p>
                </div>
            </div>
        </a>
    {% empty %}
        <p><b>Tidak ada barang yang dilelangkan</b></p>
    {% endfor %}
</div>

{% include 'footer.html' %}

{% endblock %}