{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/lelang/lelang.css' %}">
{% endblock %}

{% block content %}

{% if 'penjual' in request.session.role %}
    <form class= form-create method="POST" action="">
        {% csrf_token %}
        <div class="form-header">
            <p>Update Lelang</p>  
        </div>

        <div class="form-row">
            <div class="form-tag">
                <p>Nama Barang</p>
            </div>
            <div class="form-input">
                <input type="text" class="form" name="barang_nama" value="{{ dct_barang_nama }}" required>
            </div>
        </div>

        <div class="form-row">
        <div class="form-tag">
            <p>Deskripsi Barang</p>
        </div>
        <div class="form-input">
            <input type="text" class="form" name="barang_deskripsi" value="{{ dct_barang_deskripsi }}" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-tag">
            <p>URL Foto</p>
        </div>
        <div class="form-input">
            <input type="text" class="form" name="barang_url" value="{{ dct_barang_url }}" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-tag">
            <p>Starting Bid Price</p>
        </div>
        <div class="form-input">
            Rp 
            <input type="number" class="form-number" name="lelang_startingbid" value="{{ dct_lelang_startingbid }}" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-tag">
            <p>Buyout Price</p>
        </div>
        <div class="form-input">
            Rp 
            <input type="number" class="form-number" name="lelang_buyoutprice" value="{{ dct_lelang_buyoutprice }}" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-tag">
            <p>Minimum Raise Bid Price</p>
        </div>
        <div class="form-input">
            Rp 
            <input type="number" class="form-number" name="lelang_minraise" value="{{ dct_lelang_minraise }}" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-tag">
            <p>Start Date</p>
        </div>
        <div class="form-input">
            <input type="datetime-local" class="form" name="lelang_starttime" value="{{ dct_lelang_starttime|date:'Y-m-d\TH:i' }}" required>
        </div>
    </div>

        <div class="form-row">
            <div class="form-tag">
                <p>End Date</p>
            </div>
            <div class="form-input">
                <input type="datetime-local" class="form" name="lelang_endtime" value="{{ dct_lelang_endtime|date:'Y-m-d\TH:i' }}" required>
            </div>
        </div>
        {% if messages %}
            <div style="color: red; margin-bottom: 0.5rem;">
                {% for message in messages %}
                    <strong>{{ message }}</strong>
                {% endfor %}
            </div>
        {% endif %}
        <button class="lelang-button" type="submit">Update Lelang</button>
        
    </form>
{% elif 'penjual' not in request.session.role %}
    <div> 
        <center>
            <p>Silahkan register sebagai penjual untuk mengedit lelang!</p>
        </center>
    </div>

{% elif request.session.username == None %}
    <div> 
        <center>
            <p>Silahkan login terlebih dahulu!</p>
        </center>
    </div>
    
{% endif %}

{% include 'footer.html' %}

{% endblock %}