.history {
    padding-left: 9rem;
    /* min-height: 90vh; */
}

.header {
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

.kartu {
    max-width: 50rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 3rem;
    box-shadow: 0 15px 15px 8px silver;
}

.barang-image {
    width: 15rem;
    margin-right: 1.5rem;
}

.barang-image img {
    width: 100%;
}

.kartu-info {
    display: flex;
    flex-direction: row;
}

.kartu-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.edit-lelang-button {
    border-width: 0;
    border-style: none;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    background-color: #167C44;
    color: white;
    border-radius: 2rem;
    padding: 0.3rem 3rem;
    margin-right: 0;
    margin-left: auto;
}

.edit-lelang-button:hover {
    background-color: #0f5830;
}
