.history {
    padding-left: 9rem;
    /* min-height: 90vh; */
}

.header {
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

.kartu {
    max-width: 50rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 3rem;
    box-shadow: 0 15px 15px 8px silver;
}

.barang-image {
    width: 15rem;
    margin-right: 1.5rem;
}

.barang-image img {
    width: 100%;
}

.kartu-info {
    display: flex;
    flex-direction: row;
}